{% extends 'layout/base.html' %}

<!--xác định các block có thể thay đổi vd: block title-->
{%  block title %}
Trang chủ
{% endblock %}

{% block content %}
{% if pages > 1%}
<!--neu co nhieu hon 1 trang thi hien, ko thi thoi-->
<ul class="pagination mt-1 justify-content-center">
    <!-- giải quyết làm sao để linh hoạt số trang  -->
    {% for i in range(1, pages+1) %}
    <li class="page-item"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
    <!-- khi div class = row, grid se tu chia thanh dong 12 cot-->
    <!-- neu muon 1 dong chua 4 san pahm -> class = col-md (cho tbi lon) -3 (cot) col-12 (danh cho thiet bi nho, chiem full man hinh)             -->
    <!-- cai nay dung bootstap 5 cards, cho co hien hinh            -->
    {% for p in products%}
    <div class="col-md-3 col-12" style="padding: .7rem">
        <div class="card">
            <!--do da chia cot nen style=width se xoa-->
            <img class="card-img-top" src="{{ p.image }}" alt="{{ p.name }}">

            <div class="card-body">

                <h4 class="card-title">{{ p.name }}</h4>
                <p class="card-text">{{ p.price }} VNĐ</p>
                <a href="/products/{{ p.id }}" class="btn btn-primary">Xem chi tiết</a>
<!--                p.name la chuoi nen phai dat trong nhay don, neu ko se bi hieu thanh jvs-->
                <a href="javascript:;" onclick="addToCart( {{ p.id }}, '{{ p.name }}', {{ p.price }} )" class="btn btn-danger">Đặt hàng</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}